header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--primary);

    .logo{
      display: flex;
      align-items: center;
    
      .small{
        width: 55px;
        display: none;
      }
    
      .full {
        height: 62.5px;
      }
    }
    
    .nav-links {
      display: flex;
      justify-content: space-around;
      width: 60%;

      li {
        list-style: none;

        a {
          font-size: 16px;
          text-decoration: none;
          font-weight: bold;
          letter-spacing: 2px;
        }
      }
    }
    
    .burger {
      display: none;
      size: 30px;
      cursor: pointer;
    }

  }

.UptimeBanner {
  background-color: var(--error);

  p {
    text-align: center;
    font-weight: bold;

    a {
      color: var(--background);
    }
  }
}
  
  @media screen and (max-width:1300px){
    header .logo .full {
      display: none;
  }

  header .logo .small {
    display: block;
}
  }
  
@media screen and (max-width:768px){
    html, body {
      overflow-x: hidden;
  }
  
    header {
      justify-content: space-between;
      padding-left: 5px;
      padding-right: 5px;
    }
  
    header .logo h4 {
        display: none;
    }
  
    header .burger {
      display: block;
    }
  
    .nav-links {
      position: absolute;
      right: 0px;
      height: 50vh;
      top: 8vh;
      background-color: var(--primary);
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateX(130%);
      transition: transform 0.5s ease-in;
    }
    
  
  }
  
  .nav-active{
    transform: translateX(0%);
  }
  
  header .nav-links .headerUserButton {
    display: flex;

    .pb {
      border-radius: 50%;
      width: 30px;
      margin-right: 2px;
    }
  }
  

  
