.Members .Pagetitle {
    text-align: center;
}

.Members .searchForm form {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Members .searchForm form #username {
    grid-column: 1/4;
}

.Members .searchForm form #discriminator {
    grid-column: 4/5;
}

.Members .searchForm form #id {
    grid-column: 1/5;
    grid-template-rows: 2;
}

.Members .searchForm form input {
    margin: 5px;
    width: 98%;
    height: 40px;
    color: black;
    border-radius: 6px;
    border: 0;
    padding: 6px;
    font-size: 15px;
}

.Members .Memberlist li {
    list-style: none;
}

.Members .Membercard{
    display: flex;
}

.Members .Membercard:hover{
    background-color: var(--primary);
}

.Members .Membercard .pb {
    border-radius: 50%;
    background-color: var(--primary);
    width: 60px;
    height: 60px;
}

.Members .Membercard:hover .pb {
    background-color: var(--background);
}

.Members .Membercard .nametag {
    display: flex;
    margin: 4px;
    text-align: center;
    align-items: center;
}

.Members .Membercard .nametag p {
    margin: 0px 5px;
    padding: 0 3px;
    background-color: var(--primary);
    border-radius: 3px;
}

.Members .Membercard:hover .nametag p {
    background-color: var(--background);
}

.Members .Membercard .nametag img {
    width: 30px;
}

.Members .MemberlistNoMatch {
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    padding-top: 10vh;
}

/* desktop styles */
@media screen and (min-width: 1300px){
    .Members .Memberlist ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin: 10px
    }

    .Members .Memberlist ul .box {
        margin: 0
    }

    .Members .MemberlistPlaceholder ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }


}



/* Loading Placeholder */

.Members .MembercardPlaceholder{
    display: flex;
}

.Members .MemberlistPlaceholder ul li{
    list-style: none;
}

.Members .MembercardPlaceholder .pb {
    border-radius: 50%;
    /* background-color: var(); */
    width: 60px;
    height: 60px;
}

.Members .MembercardPlaceholder .nametag {
    /* background-color: var(); */
    height: 15px;
    width: 70%;
    display: flex;
    margin: 4px;
    align-self: center;
}