:root{
  --primary: #5865F2;
  --success: #57F287;
  --warning: #FEE75C;
  --error:   #ED4245;
  --special: #EB459E;
  --background: #2C2F33;
  --white: rgb(236, 236, 236);
  /* https://discord.com/branding */
}

@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
  color: var(--white);
  text-decoration: none;
}

body {
  background-color: var(--background);
}

.flex {
  display: flex;
}