:root{
  --primary: #5865F2;
  --success: #57F287;
  --warning: #FEE75C;
  --error:   #ED4245;
  --special: #EB459E;
  --background: #2C2F33;
  --white: rgb(236, 236, 236);
  /* https://discord.com/branding */
}

@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
  color: var(--white);
  text-decoration: none;
}

body {
  background-color: var(--background);
}

.flex {
  display: flex;
}

.box {
  margin: 10px;
  padding: 7px;
  background-color: #1c1f22;
  border-radius: 6px;
}

/* submenu */
.submenu ul {
  list-style: none;
}

.submenu ul {
  list-style: none;
}

@media screen and (min-width: 1300px){
  .content-split {
    display: grid;
    grid-template-columns: 300px 1fr 1fr 1fr 1fr;
  }

  .content-split .submenu {
    grid-column: 0/1;
    margin: 0;
    padding: 12px;
    background-color: #1c1f22;
    border-radius: 0;
    min-height: 92vh;
  }

  .content-split .submenu h2 {
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .content-split .content {
    grid-column: 2/6;
  }

  .submenu a:hover {
    color: var(--primary);
    font-weight: bold;
  }

}

.Turnements {
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  height: 90vh;
  padding-top: 30vh;

}